{% extends 'base.html' %}
<!DOCTYPE html>

{% block content %}
<div>
    <h1>Create Receipt</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="text" name="vendor">
        <input type="text" name="total">
        <input type="text" name="tax">
        <input type="text" name="date">
        <select name="category">
        <select name="account">
        <button>Create</button>
    </form>
</div>
{% endblock content %}


